/* body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #2a3073;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.buttons {
    display: flex;
    align-items: center;
}

.button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    margin-left: 4px;
    cursor: pointer;
    text-decoration: none;
    background-color: #2a3073;
    color: white;
}

.register {
    background-color: #2a3073;
    color: white;
    text-decoration: underline;
}

.login {
    background-color: white;
    color: #2a3073;
}

.contents {
    padding-left: 20px;
} */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden; /* Prevent horizontal scroll due to fading image */
}

.navbar {
    background-color: #2a3073;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.buttons {
    display: flex;
    align-items: center;
}

.button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    margin-left: 4px;
    cursor: pointer;
    text-decoration: none;
    background-color: #2a3073;
    color: white;
}

.register {
    background-color: #2a3073;
    color: white;
    text-decoration: underline;
}

.login {
    background-color: white;
    color: #2a3073;
}

.contents {
    padding-left: 20px;
}

.fade-image {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%; 
    background-image: linear-gradient(
        to right,
        transparent,
        #f2f2f2
    ); 
    z-index: -1; 
}

.form-control {
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 0;
    padding: 0px;
}

.btn-primary {
    background-color: #2a3073;
    border-color: #2a3073;
    border-radius: 20px;
}
.btn-primary:hover {
    background-color: #2a3073;
    border-color: #2a3073;
}

.socialmedia-btn {
    width: 200px;
    height: 40px;
    background-color: #fff;
    border-radius: 72px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.socialmedia-btn img {
    width: 20px;
    height: auto;
    margin-right: 10px;
}

